body,
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    display: block;
    text-decoration: none;
    color: black;
}
h1{
    margin: 0;
    line-height: 20px;
    font-size: 20px;
}
p{
    margin: 0;
    line-height: 18px;
    font-size: 18px;
}
body{
    display: flex;
    flex-direction: column;
    background: rgb(238, 238, 238);
}
.nav{
    flex: 0 0 50px;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.795),transparent);
    border-bottom: 1px solid white;
}
.nav a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}
.main{
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*item*/
.card{
    background: white;
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
.card .image{
    flex: 0 0 120px;
    /* background: url('3.jpg'); */
    background-position: center center;
    background-size: cover;
}
.card article{
    flex: 1 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card article span{
    text-transform: uppercase;
    color: #999;
    font-weight: bold;
}
/*鼠标放上去样式*/
.card:hover{
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    top: -2px;
}
